/* UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(240, 193, 123);
    background: radial-gradient(circle, rgba(240, 193, 123, 1) 0%, rgba(249, 248, 243, 1) 100%);
}

header img {
    width: 13%;
}

.nosotros {
    color: #8c9eff;
    border-top: double;
    background-color: #f1f8e9;
}

.productos {
    color: #8c9eff;
    border-top: double;
    background-image: url(../img/tiramisu.png);
    background-position: center;
    background-size: cover;
}

.local {
    color: #8c9eff;
    border-top: double;
    background-image: url(../img/mapaheladeria.png);
}

.contacto {
    color: #8c9eff;
    border-top: double;
    background-color: #f1f8e9;
}

p {
    color: #795548;
}

section {
    background-color: #f1f8e9;
}

footer {
    color: #8c9eff;
    border-top: double;
    background: rgb(249, 248, 243);
    background: radial-gradient(circle, rgba(249, 248, 243, 1) 0%, rgba(240, 193, 123, 1) 100%);
}